<!DOCTYPE HTML>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8">

  <link href="/assets/jsoneditor/jsoneditor.min.css" rel="stylesheet" type="text/css">
  <script src="/assets/jsoneditor/jsoneditor.min.js"></script>

  <style type="text/css">
    body {
      font: 10.5pt arial;
      color: #4d4d4d;
      line-height: 150%;
      width: auto;
    }
    code {
      background-color: #f5f5f5;
    }
    #jsoneditor {
      width: 100%;
      height: auto;
    }
  </style>
</head>
<body>
  <h1>Node Editor # {{page.node_id}}</h1>

  <!-- select file -->
  <form method="GET">
    <label for="file">
      File: 
      <select id="file" name="file" onchange="this.form.submit()">
        <option></option>
        {{{render.node_files}}}
     </select>
    </label>
    <input type="button" value="Save" onclick="javascript:post('#', {JSON: editor.getText()});"/>
  </form>
  <!-- /select file -->


{{#editor.code}} 
<form id="form" method="post">
  <textarea style="width: 100%; height: 100%;" rows=10 form="form" name="contents">{{render.contents}}</textarea>
</form>
{{/editor.code}} 

{{#editor.json}} 
<div id="jsoneditor"></div>

<script>
  var container, options, json, editor;
  container = document.getElementById('jsoneditor');
  options = {
    mode: 'tree',
    modes: ['code', 'form', 'text', 'tree', 'view'], // allowed modes
    onError: function (err) {
      alert(err.toString());
    }
  };
  json = {{{render.contents}}}
  editor = new JSONEditor(container, options, json);
	editor.expandAll()

	function post(path, params, method) {
	method = method || "post"; // Set method to post by default if not specified.

	// The rest of this code assumes you are not using a library.
	// It can be made less wordy if you use one.
	var form = document.createElement("form");
	form.setAttribute("method", method);
	form.setAttribute("action", path);

	for(var key in params) {
			if(params.hasOwnProperty(key)) {
					var hiddenField = document.createElement("input");
					hiddenField.setAttribute("type", "hidden");
					hiddenField.setAttribute("name", key);
					hiddenField.setAttribute("value", params[key]);

					form.appendChild(hiddenField);
			 }
	}

	document.body.appendChild(form);
	form.submit();
}
</script>

{{/editor.json}} 

</body>
</html>