<!-- right column -->
<div id="menu_navigation" class="col-md-4 col-lg-3">
	<!-- navigation -->
	<ul class="accordion" id="exCollapsingNavbar3">
	<li>
		<div class="avatar">
			<img src="/themes/{{website.theme}}/images/body/avatar.jpg" alt="avatar"/>
			<br/>
			Hi, I'm <b>Matt</b>.
		</div>
	</li>
	{{#f.get_menu}}top-menu{{/f.get_menu}}
	{{#menu.top-menu}}
	<li>
		{{#alias}}
		<a href="{{alias}}">{{title}}</a>
		{{/alias}}
		{{^alias}}
		<a href="#" data-toggle="collapse" data-target="#menu_toggle{{id}}" data-parent="#left-nav1">
			{{title}} <i class="material-icons"><span>arrow_drop_down</span></i>
		</a>
		<ul class="collapse" id="menu_toggle{{id}}">
			{{#children}}
			{{#alias}}
			<li><a href="{{alias}}">{{title}}</a></li>
			{{/alias}}
			{{/children}}
		</ul>
		{{/alias}}
	</li>
	{{/menu.top-menu}}
	</ul>

	<!-- community links -->
	<div class="capsule">
		<h3>Communities</h3><span class="capsule-div"></span>
	</div>
	<ul class="accordion">
		<li><a href="https://github.com/mrheroux" target="_blank">Code Repository</a></li>
		<li><a href="https://www.linkedin.com/in/mrheroux" target="_blank">Stay Connected</a></li>
		<li><a href="http://stackoverflow.com/users/6701768/mrheroux" target="_blank">Contributions</a></li>
	</ul>
</div>