<!-- Breadcrumb -->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <div class="container">
            {{#pages}}
            <li class="breadcrumb-item active" aria-current="page">
                <a href="{{href}}" class="pl-1 pr-1">
                    {{title}}
                </a>
                <span class="separator pl-1 pr-1">{{separator}}</span>
            </li>
            {{/pages}}
        </div>
    </ol>
</nav>