<div class="col-md-12 mb-2 bg-1">
  <h2>Ratio of Colors</h2>
  <p>In general, it is recommended that a website should follow the 60/30/10 rule. This refers to the practice of using one color for 60% of the page, one color for 30%, and one color for 10%. The 10% is used for call to actions, such as my shopping cart. This practice makes balancing your color pallet easier. Of course, there are exception to this rule, such as with sites featuring deserve images.</p>
  
  <h2>Atmospheric Perspective</h2>
  <p>Atomospheric perspective is a often used in art to make a paiting appear as though it as 3D depth. This is done by using duller colors in the background than the foreground. This concept translate to web design. Use duller colors in the background and increase the chroma as items gain in Z-index.</p>

  <h2>Perspective</h2>
  <p>It will add depth to your design by using smaller design elements in the background for items with a lower Z-index. This has to be done more carefully</p> 

  <h2>Color Selection</h2>
  <h3>Branding</h3>
  <p>It's always a good idea to first consider using your company's colors or building off them. If they work it will help add cohesion to your future marketing efforts.</p>

  <h3>Meaning</h3>
  <p>Ever color has a some meaning it conveys. There are a lot of colors to choose from and knowing the meaning you want to convey first will help you get started. For this site, currently I picked blue for a number of reasons, including</p>
  <ul>
    <li>Between different genders, the most preferred color is blue.</li>
    <li>Blue symbolizes trust, loyalty, wisdom, confidence, intelligence, faith, truth, and heaven.</li>
    <li>Blue is considered beneficial to the mind and body.</li>
  </ul>
</div>
