# ignore local server configuration files
resources/config/*.conf
!resources/config/sample.conf

# ignore logs
logs/*.*

# ignore special assets
assets/resume.pdf

# ignore NPM and Grunt dev files
resources/themes/*/node_modules/
sourceMap.map
.sass-cache
