<div class="hero-feature w-100" style="background-image:url('{{  image  }}');">
    <aside class="info-box bg-secondary shadow p-4 d-none d-lg-block editable">
        <partial name="News">
            <arg name="limit" type="int">1</arg>
            <arg name="format">
                <span class="text-white text-decoration-none fs-4">
                    {{ story.title }}
                </span>
            </arg>
        </partial>
    </aside>
</div>
