<div class="col-md-12 mb-2 bg-1">
	<h2 class="center">Experiences</h2>
	<h3>Careers</h3>
	<hr/>
	<div class="row">
		<div class="col-md-4"><b>Marlboro College and Graduate School</b><br/>2016 to Present</div>
		<div class="col-md-8"><b>Web Developer</b>
			<p>Develop, design, maintain and manage college website applications and associated servers. Develop customized web applications to meet the academic and business needs of the institution</p>
			<ul>
				<li>build, maintain, design and oversee all internal and external websites for the college including the web framework and associated databases;</li>
				<li>collaborate and coordinate with staff, faculty and students relative to content, applications, design, information architecture, structure, and user interface of college websites;</li>
				<li>Redesign and enhance websites to improve the functionality, look, and utilization;</li>
				<li>Research, evaluate and implement new web-related technology where appropriate to enhance the functionality and utilization of all Marlboro websites;</li>
				<li>Identify, troubleshoot and resolve web operational and accessibility issues.</li>
			</ul>
			<div class="experience-details">
				<span class="glyphicon glyphicon-map-marker"></span>Marlboro and Brattleboro, Vermont USA | <span class="glyphicon glyphicon-link"></span> <a href="https://www.marlboro.edu" target="_blank">https://www.marlboro.edu</a>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-4"><b>JNH Environmental Services, Inc.</b><br/>2012 to 2016</div>
		<div class="col-md-8"><b>Lead Web Developer</b>
			<p>Lead a team in the development of systems that protect the health and safety of employees and the environment, such as the <a href="https://jnhes.com/demo/home.html" target="_blank">EHS Compliance Center&trade;</a>.</p>
			<div class="experience-details">
				<span class="glyphicon glyphicon-map-marker"></span>Rutland and Brandon, Vermont USA | <span class="glyphicon glyphicon-link"></span> <a href="https://jnhes.com" target="_blank">https://jnhes.com</a>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-4"><b>JNH Environmental Services, Inc.</b><br/>2011 to 2012</div>
		<div class="col-md-8"><b>Intern - Web Developer</b>
			<p>As an intern at JNH I worked on the company's web site and learning the company's numerous services.</p>
			<div class="experience-details">
				<span class="glyphicon glyphicon-map-marker"></span>Pittsford, Vermont USA | <span class="glyphicon glyphicon-link"></span> <a href="https://jnhes.com" target="_blank">https://jnhes.com</a>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-4"><b>Questech&reg; Corporation</b><br/>2006 to 2011</div>
		<div class="col-md-8"><b>Programmer Operator</b>
			<p>Designed and developed web based documentation system for robots.</p>
				<div class="experience-details">
					<span class="glyphicon glyphicon-map-marker"></span>Rutland, Vermont | <span class="glyphicon glyphicon-link"></span> <a href="http://questech.com" target="_blank">http://questech.com</a>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-4"><b>Small Startup Studio</b><br/>2004 to 2006</div>
			<div class="col-md-8"><b>Web Developer</b>
				<p>Designed and developed online development platform to enable game developers to collaborate.</p>
				<div class="experience-details">
					<span class="glyphicon glyphicon-map-marker"></span>Online
				</div>
			</div>
		</div>

		<h3>Education</h3>
		<hr/>

		<div class="row">
			<div class="col-md-4"><b>Castleton University</b><br/>2012</div>
			<div class="col-md-8"><b>Bachelor of Science in Computer Information Systems/Business</b>
				<div class="experience-details">
					<span class="glyphicon glyphicon-map-marker"></span>Castleton, Vermont USA
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-4"><b><abbr title="Community College of Vermont">CCV</abbr></b><br/>2009</div>
			<div class="col-md-8"><b>Associate of Science Degree, Computer Systems Management</b>
				<div class="experience-details">
					<span class="glyphicon glyphicon-map-marker"></span>Newport, Vermont USA
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-4"><b>Cisco Systems Networking Academy</b><br/>2005</div>
			<div class="col-md-8"><b>Fundamentals of Web Design</b>
				<div class="experience-details">
					<span class="glyphicon glyphicon-map-marker"></span>Lyndon Center, Vermont USA
				</div>
			</div>
		</div>
	</div>


	<div class="col-md-12 mb-2 bg-1">
		<h2 class="center">Abilities</h2>
		<h3>Skills</h3>
		<hr/>
		<div class="row">
			{{#render.skills}}
			<div class="col-md-6">
				<ul class="no-bullets">
					<li>
						<span class="ability-title">{{title}}</span>
						<span class="ability-score">
							{{#score}}
							<span class="glyphicon glyphicon-star{{.}}"></span>
							{{/score}}
						</span>
					</li>
				</ul>
			</div>
			{{/render.skills}}
		</div>
		<h3>Tools</h3>
		<hr/>
		<div class="row">
			{{#render.tools}}
			<div class="col-md-6">
				<ul class="no-bullets">
					<li>
						<span class="ability-title">{{title}}</span>
						<span class="ability-score">
							{{#score}}
							<span class="glyphicon glyphicon-star{{.}}"></span>
							{{/score}}
						</span>
					</li>
				</ul>
			</div>
			{{/render.tools}}
		</div>
		<br/>
		<div class="text-center">
			<p><i>This site is built on a custom made PHP framework.</i></p>
			<button type="button" class="btn btn-primary btn-lg" onclick="window.open('https://github.com/mrheroux/hxcms')">
				See project on Github 
				<span class="glyphicon glyphicon-menu-right"></span>
			</button>
		</div>
		<h3>Languages</h3>
		<hr/>
		<div class="row">
			{{#render.languages}}
			<div class="col-md-6">
				<ul class="no-bullets">
					<li>
						<span class="ability-title">{{title}}</span>
						<span class="ability-score">
							{{#score}}
							<span class="glyphicon glyphicon-star{{.}}"></span>
							{{/score}}
						</span>
					</li>
				</ul>
			</div>
			{{/render.languages}}
		</div>
	</div>

	<div class="col-md-12 mb-2 bg-1">
		<h2 class="center">Awards</h2>
		<div class="row">
			<div class="col-md-4"><b>SkillsUSA </b><br/>2005</div>
			<div class="col-md-8"><b>Computer Programming</b>
				<p>Programmed a banking system within the allowed time to win 2nd place in SkillsUSA State of Vermont competition for computer programming.</p>
				<div class="experience-details">
					<span class="glyphicon glyphicon-map-marker"></span>Burlington, Vermont
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4"><b>American Computer Science League</b><br/>2003 to 2004</div>
			<div class="col-md-8"><b>Computer Programming</b>
				<p>Programmed several applications over the course of the year to win 1st place in American Computer Science League competition.</p>
				<div class="experience-details">
					<span class="glyphicon glyphicon-map-marker"></span>Lyndon, Vermont
				</div>
			</div>
		</div>
	</div>

	<div class="col-md-12 mb-2 bg-1">
		<h2 class="center">Projects</h2>
		<p>Presented below are some of the websites and web systems I have designed and developed. Some of the information has been censored due to active contractual agreements.</p>
		<div class="row">
			{{#render.portfolio}}
			<div class="col card">
				<a href="/assets/portfolio/images/{{thumbnail}}" alt="{{title}}" data-toggle="lightbox" data-gallery="multiimages" data-title="{{title}}">
					<img class="card-img-top" src="/assets/portfolio/thumbnails/{{thumbnail}}"/>
				</a>
			</div>
			{{/render.portfolio}}
		</div>
	</div>
