/* abilities */

.no-bullets {
  list-style-type: none;
  margin: 0;
  padding: 5px;
  li:hover {
    background-color: #eee;
    cursor: pointer;
    > .ability-score {
      animation: expand 0.5s forwards;
      .material-icons {
        animation: highlight 0.5s forwards;
      }
    }
  }
}

.experience-details {
	color: $color_accent;
	margin-bottom: 1rem;
}
.ability-score {
	float: right;
	// color: lighten(grayscale($color_accent),20%);
	color: $color_accent;
}

@keyframes expand {
  from {
    letter-spacing: auto;
  }
  to {
    //letter-spacing: 5px;
    // font-size: 110%;
  }
}

@keyframes highlight {
  from {
    color: $color_accent;
  }
  to {
    color: darken($color_accent,21%);
    -webkit-transform: rotate(72deg);
  }
}
