h1 {
	font-size: 1rem + 0.2 * 11.0901699438 !important;
}
h2 {
	
	font-size: 1rem + 0.2 * 6.85410196625 !important;
}
h3 {
	font-size: 1rem + 0.2 * 4.2360679775 !important;
}
h4 {
	font-size: 1rem + 0.2 * 2.61803398875 !important;
}
h5 {
	font-size: 1rem + 0.2 * 1.61803398875 !important;
}
h6 {
	font-size: 1rem !important;
}

/* TODO: rename these blocks */
.block-carousel-light {
	position: relative;
	.carousel-item{
		padding-top: 100px;
		margin: 0 auto;
		text-align: center;
		.carousel-caption {
			height: 100px;
			position: absolute;
			padding: 1em 0;
			top: 0;
			margin: 0;
			left: 0;
			right: 0;
			background-color: rgba($color_dark_bg,0.9);
			color: #FFF;
		}
	}

	.carousel-control-prev, .carousel-control-next {
		i {
			position: absolute;
			top: 32px;
			font-weight: bold;
			font-size: 2em;
			color: rgba(#FFF,0.61);
			background-color: transparent;
			padding: 0.2rem;
		}
	}
}

.bg-1 {
	// main right column
	padding-top: 1em;
	padding-bottom: 1em;
	color: #000;
	background-color: #FFF;
	background-color: rgba(255,255,255,0.9);
	border-color: transparent !important;
	> h2 {
		font-weight: normal;
		padding: 0 1rem 0.3rem 0;
	}
	em {
		color: $color_accent;
		font-style: normal;
	}
}

.bg-2 {
  // right column content
  border: 1px solid #D9DADC;
  border-radius: 3px;
}

.bg-3 {
  background-color: #ECE7E2;
  color: #000000;
}

.bg-4 {
  color: lighten($color_foreground,28.6%);
  border-right: 1px dot rgba(40,62,74,0.1);
}
