.search-box {
	text-align: left !important;
	outline: none;
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	font-family: inherit;
	font-size: 0.8em;
	background: #ededed url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
	border: solid 1px #ccc;
	margin-top: 0.2em;
	padding: 9px 10px 9px 32px;
	width: 100px;
	-webkit-transition: all .25s;
	-moz-transition: all .25s;
	transition: all .25s;
	&:focus {
		padding: 9px 10px;
		width: 400px;
		background-image: none;
		background-color: #fff;
		border-color: #66CC75;
		-webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
		-moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
		box-shadow: 0 0 5px rgba(109,207,246,.5);
	}
	&::-webkit-search-decoration, &::-webkit-search-cancel-button {
		display: none; 
	}
	&:-moz-placeholder {
		color: #999;
	}
	&::-webkit-input-placeholder {
		color: #999;
	}
}



