{% if frontpage == false %}
<!-- Breadcrumb -->
<nav  aria-label="breadcrumb" class="bg-light text-white pt-3 pb-1 mb-4">
    <div class="container">
        <small>
            <ol class="breadcrumb bg-transparent pl-1">
                {% for page in pages %}
                {% if page.active == false %}
                <li class="breadcrumb-item active">
                    <a href="{{ page.url }}" class="text-decoration-none">
                        {{ page.title }}
                    </a>
                </li>
                {% else %}
                <li class="breadcrumb-item active" aria-current="page">
                    {{ page.title }}
                </li>
                {% endif %}
                {% endfor %}
            </ol>
        </small>
    </div>
</nav>
{% endif %}