<!-- top navbar -->
<div class="bg-secondary d-none d-md-block">
    <div class="container">
        <nav class="nav justify-content-end">
            <a class="nav-link text-decoration-none text-dark" href="https://github.com/sponsors/hxtree">
                 <i class="fas fa-dollar-sign"></i> Give
             </a>
            <a class="nav-link text-decoration-none text-dark" href="https://github.com/Ouxsoft">
                <i class="fab fa-github fa"></i> Collaborate
            </a>
        </nav>
    </div>
</div>