<div class="col-md-12 mb-2 bg-1">
	<h2>The Problem</h2>
	<p>The concept of luck is a perplexing problem to approach programmatically because of its intangibility. You are either lucky or you are not and your luck can change depending on the situation. You shouldn't be lucky all the time or unlucky all the time for that matter. Everyone's luck should be in a constant state of change. Luck should only be a contributing factor to help determine whether an action is a success and not necessarily the deciding factor. It should be elusive in value, its ability to change, and applicability.</p>
	<p>Based on this vision of how luck works, I created the following roll class for use in my latest game engine, which is used to determine a character's chances of succeeding at an action and is influenced by luck. I originally programmed this in C#, but I ported the following portion of the class to PHP.</p>
</div>

<div class="col-md-12 mb-2 bg-1">
	<h3>
		The Solution
		<button class="btn btn-primary" onclick="javascript:window.location.href='javascript:history.go(0)'" style="float:right">
			Refresh <span class="glyphicon glyphicon glyphicon-refresh" aria-hidden="true"></span>
		</button>
	</h3>
	<div class="row">
		{{#roll_example}}
		<div class="col-md-4">
			Roll Outcome ({{roll}}/{{roll_max}})
			<div class="progress">
				<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{roll}}" aria-valuemin="0" aria-valuemax="{{roll_max}}" style="width:{{roll_percent}}%">
					{{roll_percent}}%
				</div>
			</div>
		</div>
		<div class="col-md-4">
			Luck Applicability ({{luck_applicable}}/{{luck_current}})
			<div class="progress">
			{{^luck_current}}
				N/A
			{{/luck_current}}
			{{#luck_current}}
				<div class="progress-bar  progress-bar-info" role="progressbar" aria-valuenow="{{luck_percent}}" aria-valuemin="0" aria-valuemax="100" style="width:{{luck_percent}}%">
					{{luck_percent}}
				</div>
			{{/luck_current}}
			</div>
		</div>
		<div class="col-md-4">
			Luck ({{luck_current}}/{{luck_max}})
			<div class="progress">
				<div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="{{luck_current}}" aria-valuemin="0" aria-valuemax="100" style="width:{{luck_current}}%">
					{{luck_current}}%
				</div>
			</div>
		</div>
		{{/roll_example}}
	</div>
</div>

<div class="col-md-12 mb-2 bg-1">
	<h3>The Code</h3>
	<pre><code class="language-php">
/*
Designed by Matt Heroux (c) 2008-2016
*/
class character {
	public $luck;
	public $roll;

	public function __construct () {
		// load character stats
		$this->luck = array(
			"current" => 0,
			"natural" => 0,
			"min" => 0,
			"max" => 100,
			"applicable" => 0,
		);
		$this->roll = array(
			"outcome" => 0,
			"min" => 0,
			"max" => 100,
		);
	}
	public function roll($max = null){
		/*
		a roll is used to determines a character's chances of success, which is influenced by luck.
		luck is designed to be variable and elusive in both is value, ability to change, and applicability.
		*/
		if(isset($max)){$this->roll["max"];}
		$this->luck["applicable"] = mt_rand(0, $this->luck["current"]) + 1; // luck is not always applicable
		$this->roll["outcome"] =  round(mt_rand($this->roll["min"], $this->roll["max"]),2) + ($this->luck["applicable"] * 0.1);

		if ($this->roll["outcome"] > $this->roll["max"]) {$this->roll["outcome"] = $this->roll["max"];}

		// adjust luck based on roll_outcome and the applicability of luck
		if ($this->roll["outcome"] > ($this->roll["max"] * 0.618)) { // luck increases
			if ($this->luck["current"] <= $this->luck["min"]) {
				$this->luck["current"]++;
			} else {
				$this->luck["current"] += $this->luck["applicable"];
			}
			if ($this->luck["current"] > $this->luck["max"]) { $this->luck["current"] = $this->luck["max"]; }
		} else if ($this->roll["outcome"] < ($this->roll["max"] * 0.382)) { // luck decreases
			$this->luck["current"] -= $this->luck["applicable"];
			if ($this->luck["current"] < $this->luck["min"]) { $this->luck["current"] = 0; }
		}
		return $this->roll["outcome"];
	}
}
</code></pre>

</div>
