/*!
 * This file is part of the Hoopless package.
 *
 * (c) Ouxsoft <contact@ouxsoft.com>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

div.hero-image {
  // crop at 1440x600
  position: relative;
  background-position: 50% 50%;
  background-position-x: 50%;
  background-position-y: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  color: rgb(40, 78, 54);
  height: 800px;
  line-height: 22.4px;
  opacity: 1;
  pointer-events: all;
  transition-delay: 0s;
  transition-duration: 0.15s;
  transition-property: opacity;
  transition-timing-function: ease;
  width: 1357px;

  aside {
    bottom: 120px;
    box-sizing: border-box;
    display: block;
    max-width: 329.517px;
    min-width: 302.05px;
    position: absolute;
    right: 0px;
    top: 582px;
    z-index: 3;
  }
}


.front-page {
  // crop at 1260x630
  div.hero-image {
    width: 100%;
    min-height: 50vw;
  }
}
