#collapseExample {
  &.collapse {
    @media (min-width: 768px) {
      display: block;
    }
  }
  @media (max-width: 768px) {
    top: 3.5em;
    left: 0;
    position: fixed;
    width: 100%;
    z-index: 9999;
    > ul {
      border: 1em solid #C2C7CB;
      box-shadow: 0px 7px 22px -3px rgba(0,0,0,0.75);
    }
  }
}

ul.accordion {
  // right column content
  background-color: #E8E9EB;
  border: 1px solid #C2C7CB;
  border-top: 0;
  margin: 0 !important;
  padding: 0;
  width: 100%;
  list-style-type: none;
  a {
    display: block;
    padding: 0.5em;
    .glyphicon-menu-down {
      color: $color_accent;
      display: inline-block;
      float: right !important;
    }
  }
  li {
    border-top: 1px solid #D9DADC;
  }
  ul {
    list-style-type: none;
    background: linear-gradient(to bottom, rgba(40,62,74,0.05) 0%,rgba(0,0,0,0) 25%, rgba(40,62,74,0.1) 100%);
    margin: 0;
    padding: 0;
    li {
      border-top: 1px solid rgba(40,62,74,0.2);
      a {
        padding: 0.2em 0.2em 0.2em 1.5em;
      }
    }
  }
}
