/* background 60% 30% 10% */
.bg-body {
  background-color: $color_background;
  background-image: url('../images/body/background.png');
  background-position: right bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.bg-1 {
  // main right column
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: transparent; //#E8E9EB;
  border: 1px solid rgba(#000, 0.1);//#D05141); //#C2C7CB;
  color: #000;
  border-radius: 3px;
}

.bg-2 {
  // right column content
  border: 1px solid #D9DADC;
  border-radius: 3px;
}

.bg-3 {
  background-color: #ECE7E2;
  color: #000000;
}

.bg-4 {
  color: lighten($color_foreground,28.6%);
  border-right: 1px dot rgba(40,62,74,0.1);
}
