$nav_top_color: #000; //#ed254e;//#a07178;
$nav_left_bg: #FFF; //#a28f9d;

#menu_navigation {

}

#collapseExample {
	&.collapse {
   		@media (min-width: 768px) {
   			display: block;
   		}
	}
	@media (max-width: 768px) {
		top: 3.5em;
		left: 0;
		position: fixed;
		width: 100%;
		z-index: 9999;
		> ul {
			border: 1em solid #C2C7CB;
			box-shadow: 0px 7px 22px -3px rgba(0,0,0,0.75);
		}
	}
}

ul.accordion {
	// right column content
	background-color: $nav_left_bg;
	
	border: 1px solid #C9C9C9;
	border-top: 0;
	border-bottom: 1px solid #B8B8B8;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	
	-webkit-box-shadow: 0px 1px 4px 0px rgba(218,218,218,1);
	-moz-box-shadow: 0px 1px 4px 0px rgba(218,218,218,1);
	box-shadow: 0px 1px 4px 0px rgba(218,218,218,1);
	
	margin: 0 !important;
	padding: 0;
	width: 100%;
	list-style-type: none;
	a {
		display: block;
		padding: 0.5em;
		.glyphicon-menu-down {
			color: $nav_top_color;
			display: inline-block;
			float: right !important;
		}
	}
	li {
		border-top: 1px solid #D9DADC;
	}
	ul {
		list-style-type: none;
		background: rgba(40,62,74,0.121);
		margin: 0;
		padding: 0;
		li {
			border-top: 1px solid rgba(40,62,74,0.2);
			a {
				padding: 0.2em 0.2em 0.2em 1.5em;
			}
			font-size: 80%;
		}
	}
	.avatar {
		overflow: visible;
		height: 80px;
		background: lighten($color_accent,20%);
		margin: 0px 0px 62px 0px;
		
		border-bottom: 5px solid lighten($color_accent,10%); //#ff9999;
		
		padding: 1em 0; 
		text-align: center;
		//border-bottom: 0;
		img {
			width: 85px;
			height: 85px;
			-webkit-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.3);
			-moz-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.3);
			box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.3);
			border-radius: 50%;
			border: 4px solid #FFF;
			&:hover {
				/*
				//TODO
				-webkit-box-shadow: 0px 1px 4px 0px $nav_top_color;
				-moz-box-shadow: 0px 1px 4px 0px $nav_top_color;
				box-shadow: 0px 1px 4px 0px $nav_top_color;
				cursor: pointer;
				*/
			}
		}
	}
}