<div class="col-md-12 mb-2 bg-1">
	<p>Select from the following:</p>
	<div class="list-group">
  {{#render.node_list}}
  <a class="list-group-item" href="{{alias}}">
    <span class="glyphicon glyphicon-file" aria-hidden="true"></span> {{title}}
  </a>
  {{/render.node_list}}
  </div>
</div>
