{{#render.data}}
{{#Experiences}}
<div class="col-md-12 mb-2 bg-1">
	<h2 class="center">Experiences</h2>
	<h3>Careers</h3>
	<hr/>
	{{#Careers}}
	<div class="row">
		<div class="col-md-4">
			<i class="material-icons">domain</i> <b>{{&company}}</b>
			<br/>
			{{span}}
		</div>
		<div class="col-md-8">
			<b>{{title}}</b>
			<p>
				{{&description}}
				<br/>
				<em class="color"><i class="material-icons">public</i>{{location}}</em>
				{{#url}}
				| 
				<a href="{{url}}" target="_blank">{{url}}</a>
				{{/url}}
			</p>
		</div>
	</div>
	{{/Careers}}
	<h3>Education</h3>
	<hr/>
	{{#Education}}
	<div class="row">
		<div class="col-md-4">
			<i class="material-icons">school</i>
			<b>{{&school}}</b>
			<br/>
			{{span}}
		</div>
		<div class="col-md-8">
			<p>
				<b>{{title}}</b>
				<br/>
				<em class="color"><i class="material-icons">public</i>{{location}}</em>
			</p>
		</div>
	</div>
	{{/Education}}
</div>
{{/Experiences}}


<div class="col-md-12 alert alert-info" role="alert">
	<b>Fun fact</b>: Did you know my grandfather, the late <b>Norman Heroux</b>, invented the <em>first</em> successful industrial robot and the first robotic bartender.
</div>

<div class="col-md-12 mb-2 bg-1">
	<h2 class="center">Abilities</h2>
	<h3>Skills</h3>
	<hr/>
	<div class="row">
		{{#skills}}
		<div class="col-md-6">
			<ul class="no-bullets">
				<li>
					<span class="ability-title">{{title}}</span>
					<span class="ability-score">
						{{#score}}
						<i class="material-icons">{{.}}</i>
						{{/score}}
					</span>
				</li>
			</ul>
		</div>
		{{/skills}}
	</div>
	<h3>Tools</h3>
	<hr/>
	<div class="row">
		{{#tools}}
		<div class="col-md-6">
			<ul class="no-bullets">
				<li>
					<span class="ability-title">{{title}}</span>
					<span class="ability-score">
						{{#score}}
						<i class="material-icons">{{.}}</i>
						{{/score}}
					</span>
				</li>
			</ul>
		</div>
		{{/tools}}
	</div>
</div>

<div class="col-md-12 mb-2 bg-1">
	<h2 class="center">Projects</h2>
	<p>Check out my work.</p>
	<hr/>
	<div id="carousel-indicators" class="carousel slide mb-3 block-carousel-light" data-ride="carousel">
		<ol class="carousel-indicators">
		{{#portfolio}}
			<li data-target="#carousel-indicators" data-slide-to="{{count}}" class="{{class}}"></li>
		{{/portfolio}}
		</ol>
		<div class="carousel-inner" role="listbox">
		{{#portfolio}}
			<div class="carousel-item {{class}}">
				<img class="d-block img-fluid" src="/assets/portfolio/images/{{url}}" alt="{{title}}"/>
				<div class="carousel-caption d-none d-md-block">
					<h3>{{&title}}</h3>
					<p>{{&description}}</p>
				</div>
			</div>
		{{/portfolio}}
		</div>
		<a class="carousel-control-prev" href="#carousel-indicators" role="button" data-slide="prev">
			<i class="material-icons">navigate_before</i>
			<span class="sr-only">Previous</span>
		</a>
		<a class="carousel-control-next" href="#carousel-indicators" role="button" data-slide="next">
			<i class="material-icons">navigate_next</i>
			<span class="sr-only">Next</span>
		</a>
	</div>
</div>

{{/render.data}}