[WEBSITE]
title = "Matt Heroux"
server = "http://mrheroux.localhost"
timezone = Europe/Amsterdam
abbreviation = "hx"
theme = "loyal-salmon"
href_salt = yourheart

[ADMIN]
email = contact@mrheroux.com
debug_ip = 73.17.97.138

[DIR]
aliases = /aliases/
assets = /assets/
layouts = /layouts/
lib = /lib/
logs = /logs/
nodes = /nodes/
resources = /resources/
tmp = /.tmp/
