/* headings */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0.67em;
  margin-bottom: 0.2em;
}

h1 {
  font-family: 'Josefin Slab', serif;
  color: $color_heading_1;
  clear: both;
  display: block;
  font-weight: 500;
  line-height: 1.1;
  font-size: 180%;
  margin: 0.5em 0;
  padding: 0.5em 0;
  .small, small {
    font-weight: 400;
    line-height: 1;
    font-size: 65%;
  }
  border-bottom: 1px solid darken($color_background,10%);
}

h2 {
  font-family: 'big-n-bold', Helvetica, sans-serif;
  color: $color_heading;
  clear: both;
  display: block;
  font-weight: 500;
  line-height: 1.1;
  font-size: 120%;
  &.center {
    text-align: center;
  }
  .small, small {
    font-weight: 400;
    line-height: 1;
    font-size: 65%;
  }
}

h3 {
  font-family: 'Istok Web', Helvetica, sans-serif;
  color: $color_heading;
  clear: both;
  display: block;
  font-weight: 500;
  line-height: 1.1;
  font-size: 110%;
  &.center {
    text-align: center;
  }
  .small, small {
    font-weight: 400;
    line-height: 1;
    color: #777;
    font-size: 65%;
  }
}

h4 {
  font-family: 'Istok Web', Helvetica, sans-serif;
  color: $color_heading;
  clear: both;
  display: block;
  font-weight: 500;
  line-height: 1.02;
  font-size: 105%;
  font-weight: 700;
  &.center {
    text-align: center;
  }
  .small, small {
    font-weight: 400;
    line-height: 1;
    font-size: 75%;
  }
}

h5 {
  font-family: 'Istok Web', Helvetica, sans-serif;
  color: $color_heading;
  clear: both;
  display: block;
  font-weight: 500;
  line-height: 1.1;
  font-size: 115%;
  &.center {
    text-align: center;
  }
  .small, small {
    font-weight: 400;
    line-height: 1;
    font-size: 75%;
  }
}

h6 {
  font-family: 'Istok Web', Helvetica, sans-serif;
  clear: both;
  display: block;
  font-weight: 500;
  line-height: 1.1;
  font-size: 110%;
  &.center {
    text-align: center;
  }
  .small, small {
    font-weight: 400;
    line-height: 1;
    color: #777;
    font-size: 75%;
  }
}
