#window-title{
  // font-family: 'big-n-bold', Helvetica, sans-serif;
//  font-family: 'big-n-bold', Helvetica, sans-serif;
//  font-weight: bold;
  font-size: 128%;
  color: $color_foreground;
  margin-bottom: 0.5em;
}
#window-top {
  padding: 0.5em 0;
  margin: 0;
  background-color: $color_foreground;
  -webkit-backface-visibility: hidden;
  .container {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  #logo {
    font-size: 200%;
    font-family: 'big-n-bold', Helvetica, sans-serif;
    clear: both;
    display: block;
    font-weight: 500;
    line-height: 1.1;
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
    em {
      font-style: normal !important;
      color: #384B63 !important;
    }
    display: block;
    font-weight: 500;
    line-height: 1.1;
    text-shadow: 1px 2px 1px rgba(0, 0, 0, 0.3);
    a {
      color: $color_logo !important;
      &:hover{
       text-decoration:none;
      }
      em {
        display: inline-block;
        font-style: normal !important;
        color: $color_background !important;
      }
    }
    @media (max-width: 280px) {
      display: none;
    }
    &:focus, &:hover {
      text-decoration: none;
    }
    > img {
      display: block;
    }
  }
  #search {
    input, button {
      background-color: #E1E9EE;
      border-radius: 0;
      border-color: #E1E9EE;
      :focus {
        outline: 0;
      }
    }
  }
}
