<div class="col-md-12 bg-1">
		<h2>Message</h2>
		<p>Complete the form below to send a message.</p>

		<form name="contact" id="contact" method="post" enctype="multipart/form-data">
			<fieldset class="form-group">
				<label for="name">Full Name:</label>
				{{#alerts.contact-name}}
					<div class="alert alert-{{type}}">
						<a href="#" class="close" data-dismiss="alert" aria-label="close" title="Close">&times;</a>
						{{value}}
					</div>
				{{/alerts.contact-name}}
				<input name="contact[name]" id="name" value="{{render.contact.name}}" class="form-control" placeholder="Enter name" aria-required="true"/>
			</fieldset>

			<fieldset class="form-group">
				<label for="email">Email Address:</label>
				{{#alerts.contact-email}}
					<div class="alert alert-{{type}}">
						<a href="#" class="close" data-dismiss="alert" aria-label="close" title="Close">&times;</a>
						{{value}}
					</div>
				{{/alerts.contact-email}}
				<input name="contact[email]" id="email" value="{{render.contact.email}}" type="email" class="form-control"  placeholder="Enter email" aria-required="true"/>
			</fieldset>

			<fieldset class="form-group">
				<label for="subject" style="display: block;">Subject:<div style="float:right">(optional)</div> </label>
				<input name="contact[subject]" id="subject" value="{{render.contact.subject}}" class="form-control" placeholder="Enter subject"/>
			</fieldset>

			<fieldset class="form-group">
				<label for="message">Message:</label>
				{{#alerts.contact-msg}}
					<div class="alert alert-{{type}}">
						<a href="#" class="close" data-dismiss="alert" aria-label="close" title="Close">&times;</a>
						{{value}}
					</div>
				{{/alerts.contact-msg}}
				<textarea name="contact[message]" id="message" class="form-control" placeholder="Enter message" aria-required="true">{{render.contact.message}}</textarea>
			</fieldset>

			<fieldset class="form-group">
				<label for="norobot">Security Code:</label>
				{{#alerts.contact-norobot}}
					<div class="alert alert-{{type}}">
						<a href="#" class="close" data-dismiss="alert" aria-label="close" title="Close">&times;</a>
						{{value}}
					</div>
				{{/alerts.contact-norobot}}
				<br/>
				<img src="/themes/{{website.theme}}/images/captcha/norobot.png" alt="security key"/>
				<input name="norobot" id="norobot" class="form-control" placeholder="Enter security code" aria-required="true"/>
				<small class="text-muted">Case-sensitive</small>
			</fieldset>
			<input type="submit" value="Send" class="btn btn-lg" name="command"/>
		</form>
</div>
