{{^page.current.standalone}}
<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{{page.current.title}}</title>
		<meta name="description" content="{{page.current.meta_description}}"/>
		<meta name="keywords" content="{{page.current.title.}}"/>
		<link type="text/plain" rel="author" href="/humans.txt"/>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
		<meta name="apple-mobile-web-app-capable" content="yes"/>
		<meta name="mobile-web-app-capable" content="yes"/>
		<meta name="theme-color" content="#000"/>
		<link rel="shortcut icon" href="/resources/themes/{{website.theme}}/images/favicon/favicon.ico" type="image/x-icon"/>
		<link rel="icon" href="/resources/themes/{{website.theme}}/images/favicon/favicon.ico" type="image/x-icon"/>
		<link rel="stylesheet" href="/resources/themes/{{website.theme}}/stylesheets/top.min.css" type="text/css"/>
	</head>
	<body class="bg-body node-{{page.current.node_id}}">
		<header>
			<nav class="navbar fixed-top navbar navbar-inverse bg-inverse bg-faded">
				<div class="container">
					<div class="row">
						<div class="col-md-3">
							<button class="btn btn-primary hidden-md-up" type="button" data-toggle="collapse" data-target="#menu_navigation" aria-expanded="false" aria-controls="menu_navigation">
					 			<span class="navbar-toggler-icon"></span>
					 		</button>
							<a id="logo" href="/" title="Home">
								<span class="hidden-sm-down">Mr</span><em>Heroux</em>
							</a>
						</div>
						<div class="col-md-9 text-right">
							<form method="get" style="display:inline;" action="/search">
								<input name="q" class="search-box text-right" type="search" placeholder="Search..."/>
							</form>
							<form method="post" style="display:inline;" name="user-sign-out" id="user-sign-out" enctype="multipart/form-data">
								{{#user.full_name}}
								<a href="{{#link.id}}33&q={{page.current.node_id}}&a=1&b=2&c=3#top{{/link.id}}" class="btn btn-secondary navbar-right">
									Edit
								</a>
								<div class="dropdown" style="display:inline;">
									<input type="hidden" name="user-sign-out" value="1"/>
									<button class="btn btn-secondary dropdown-toggle" type="button" id="user-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
  										<span class="glyphicon glyphicon-user"></span> {{user.full_name}}
									</button>
									<div class="dropdown-menu" aria-labelledby="user-menu">
  										<button type="submit" form="user-sign-out" value="Submit" class="dropdown-item">Sign out</button>
  					  				</div>
								</div>
								{{/user.full_name}}
								{{^user.full_name}}
								<a href="/users/sign-in" class="btn btn-secondary navbar-right" type="submit">Log in</a>
								{{/user.full_name}}
							</form>
						</div>
					</div>
				</div>
			</nav>
			<div id="window-top">
				<div class="container pt-5 pb-2 mb-2">
					<h1>{{page.current.page_heading}}</h1>
					<!-- breadcrumbs -->
					<ol class="breadcrumb">
			    {{#page.breadcrumbs}}
						{{#active}}
						<li><a class="breadcrumb-item active" href="#">{{title}}</a></li>
						{{/active}}
						{{^active}}
						<li><a class="breadcrumb-item" href="{{alias}}">{{title}}</a></li>
						{{/active}}
					{{/page.breadcrumbs}}
					</ol>
				</div>
			</div>
		</header>
		<div class="container">
			<div class="row">
				<!-- page column -->
				<div class="col-sm-12 col-md-8 col-lg-9 bg-4">
				{{^alert}}
					<div class="alert alert-warning" role="alert">
						{{get}}
					</div>
				{{/alert}}
{{/page.current.standalone}}
