<div class="col bg-1">
  <h2>Developers</h2>  
  <p>Learn the full-stack developer journey. Steer your development in a sensible direction.</p>

  <h2>Businesses</h2>
	<p>I've been practicing as a full-stack developer for {{years_spent_developing}} years. Currently, I work as full time web developer and do web consulting. If your a business seeking a web-based solution or an employer looking to discuss an oppurtunity, feel free to <a href="/contact">send a message</a>.</p>
</div>
