<div class="col bg-1">

<h2>About</h2>
<p>Hi, I'm Matt. I've been practicing as a full-stack developer for {{years_spent_developing}} years. This site is dedicated to that retelling what I've learned.</p>

<h3>Developers</h3>
<p>Steer your development in a sensible direction -- check out my case studies.</p>

<h3>Businesses</h3>
<p>I work as full time web developer and do web consulting. If you are a business seeking a web-based solution or an employer looking to discuss an oppurtunity, feel free to <a href="/contact">send a message</a>.</p>

</div>
