<head>
	<title>{{title}}</title>
	<meta name="description" content="{{meta_description}}"/>
	<meta name="keywords" content="{{title}}"/>
	<link type="text/plain" rel="author" href="/humans.txt"/>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
	<meta name="apple-mobile-web-app-capable" content="yes"/>
	<meta name="mobile-web-app-capable" content="yes"/>
	<meta name="theme-color" content="#000"/>
	<link rel="shortcut icon" href="/themes/{{config.theme}}/images/favicon/favicon.ico" type="image/x-icon"/>
	<link rel="icon" href="/themes/{{config.theme}}/images/favicon/favicon.ico" type="image/x-icon"/>
	<link rel="stylesheet" href="/themes/{{config.theme}}/stylesheets/top.min.css" type="text/css"/>
</head>