<!-- JavaScript -->
<script src="/themes/{{config.theme}}/scripts/script.min.js"></script>
<!-- individual includes consider uglifing -->
<script src="/themes/{{config.theme}}/scripts/custom/cd-top.js"></script>
<script src="/themes/{{config.theme}}/scripts/custom/google-analytics.js"></script>
<script src="/themes/{{config.theme}}/scripts/custom/lightbox.min.js"></script>
<script src="/themes/{{config.theme}}/scripts/custom/logo-shrink.js"></script>
<script src="/themes/{{config.theme}}/scripts/custom/prism.js"></script>
{{#page.js}}
<script src="{{source}}"></script>
{{/page.js}}
