<!-- share buttons -->
<a href="https://www.facebook.com/sharer/sharer.php?u={{website.server}}/{{page.current.alias}}">
	<img src="/themes/{{website.theme}}/images/social-networking/recommend.png" alt="Recommend"/>
</a>
<a href="https://twitter.com/intent/tweet?text={{website.server}}/{{page.current.alias}}&amp;related={{website.server}}">
	<img src="/themes/{{website.theme}}/images/social-networking/tweet.png" alt="Tweet"/>
</a>
<a href="https://plus.google.com/share?url={{website.server}}/{{page.current.alias}}&amp;related={{website.server}}">
	<img src="/themes/{{website.theme}}/images/social-networking/gplus.png" alt="Google Plus"/>
</a>
<small style="float:right">
	<a href="mailto:?"><span class="glyphicon glyphicon-envelope"></span> Email</a> |
	<a href="javascript:window.print()"><span class="glyphicon glyphicon-print"></span> Print</a>
</small>