<!-- share buttons -->
<a href="https://www.facebook.com/sharer/sharer.php?u={{config.server}}/{{page.current.alias}}">
	<img src="/themes/{{config.theme}}/images/social-networking/recommend.png" alt="Recommend"/>
</a>
<a href="https://twitter.com/intent/tweet?text={{config.server}}/{{page.current.alias}}&amp;related={{config.server}}">
	<img src="/themes/{{config.theme}}/images/social-networking/tweet.png" alt="Tweet"/>
</a>
<a href="https://plus.google.com/share?url={{config.server}}/{{page.current.alias}}&amp;related={{config.server}}">
	<img src="/themes/{{config.theme}}/images/social-networking/gplus.png" alt="Google Plus"/>
</a>
<small style="float:right">
	<a href="mailto:?subject={{page.description}}&body={{page.address}}"><i class="material-icons">mail_outline</i> Email</a> |
	<a href="javascript:window.print()"><i class="material-icons">print</i> Print</a>
</small>