<p>Pick a case study:</p>
<div class="list-group">
	{{#f.get_menu}}case-studies{{/f.get_menu}}
	{{#menu.case-studies}}
	{{#alias}}
	<a class="list-group-item" href="{{alias}}">
		<i class="material-icons">free_breakfast</i>&nbsp;&nbsp; {{title}}
	</a>
	{{/alias}}
	{{/menu.case-studies}}
</div>
